<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WhackABlock.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>89F7B7EE1C9A0C0C00306B1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89F7B8061C9A0C0C00306B1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89F7B8111C9A0C0C00306B1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
